<div class="container mt-5">
  <div class="row">
    <div class="cols-md-8">
      <h1 class="text-center">Ini adalah halaman Home, silahkan pindah ke halaman contact, terimakasih.</h1>
    </div>
  </div>
</div>
